<template>
	<div class="dropzone">
		
	<input @change="sendfile" type="file" class="inputfield" ref="file"><v-icon size="60" color="#4c389b" >backup</v-icon></input>
	<img :src="file" />
	<p v-if="!uploading" class="call-to-action">
		{{name}}

Drag your files here
	</p>

	<p v-if="uploading" class="progress-bar">
		</v-icon>
	</p>
</div>
</template>

<style scoped>
	.dropzone{
		min-height:400px;
		min-width: 600px;
		padding:10px 10px;
		position:relative;
		cursor:pointer;
		outline:2px dashed #4c389b;
		outline-offset:-10px;
		background:transparent;
		color:dingray;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
			}
	
	.inputfield{
		opacity:0;
		width:100%;
		height: 200px;
		position: absolute;
		cursor: pointer;
		color:transparent;
	}

	.dropzone:hover{
		background: lightblue;
	}

	.dropzone .call-to-action{
		font-size: 30px;
		color:#4c389b;
		text-align: center;
	}
</style>
<script>
	
	export default {
		name:"Dropzone",
		data(){
			return{
				uploading:false,
				file:"",
				name:"",
				message:"",
				error:false
			}
		},
		methods:{
			selectFile(){
				const file = this.$refs.file.files[0];
								this.file = file;
			},
			async sendfile(){
				const file = this.$refs.file.files[0];

				const formData = new FormData();
				formData.append("file",file);

				try{
					this.name = file.name
					
				}catch(err){
					this.message = err.response.data.error;
					this.error = true;
				}
			}
		}
	}
</script>

