<template>
  <v-app id="keep">

   <!-- <v-app-bar
      app
      clipped-left
      color="#4c389b"
    >
      <v-app-bar-nav-icon color="#fff" @click="drawer = !drawer"></v-app-bar-nav-icon>

    </v-app-bar>-->
   <DashboardHeader  @clicked="onClickChild"/>
     
<Menu v-if="drawer"/>

    <v-content>
      <v-container
        fluid
        class="grey lighten-4 fill-height"
      >
        <v-row
          justify="center"
          align="center"
        >
          <v-col class="shrink">
            
            <Dropzone/>
            

          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import DashboardHeader from '../../components/Header/DashboardHeader.vue';
import  Dropzone from '../../components/Dropzone/index.vue';
import  Menu from '../../components/Menu/index.vue';

  export default {
    props: {
      source: String,
    },
    components:{
    DashboardHeader,
    Dropzone,
    Menu
  },
  methods:{
 onClickChild (value) {
  this.drawer = value
      
    }
  },
    data: () => ({
      drawer: null,
      items: [
        { icon: 'image', text: 'Pictures' },
        { icon: 'featured_video', text: 'Videos' },
        { icon: 'library_music', text: 'Songs' },
        { icon: 'picture_as_pdf', text: 'Pdf' },
        { icon: 'archive', text: 'Files' },
        { divider: true },
        { icon: 'settings', text: 'Settings' },
        { icon: 'chat_bubble', text: 'Trash' },
        { icon: 'help', text: 'Help' },
      
      ],
    }),
  }
</script>

<style>
#keep .v-navigation-drawer__border {
  display: none
}
  .title_{
    color:#4c389b;
    font-size: 40px;
    text-align:center;
  } 
  .section_images{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
</style>



