<template>
  <v-app>
    <BasicHeader/>

    <v-content  style="background:#4c389b">
      <h1 class="title_">Because for us your data is important!</h1>
      <section class="section_images">
        <img class="cloud_image" src="../../assets/iconmonstr-cloud-thin.svg"/>
        <Dropzone/>
      
    </section>
    </v-content>
  </v-app>
</template>

<style scoped>
  .title_{
    color:#fff;
    font-size: 40px;
    text-align:center;
  }  .background_{
    background-image: url("../../assets/cloud.png");
  background-color: #cccccc;
   background-size: cover;
  }
  .cloud_image{
    height: 200px;
  }
  .section_images{
    display: flex;
    flex-direction: row;
  }
</style>


<script>
import BasicHeader from '../../components/Header/BasicHeader.vue';
import  Dropzone from '../../components/Dropzone/index.vue';
export default {
  name: 'home',
  components:{
    BasicHeader,
    Dropzone
  },
  data: () => ({
    //
  }),
};
</script>
