<template>
    <v-toolbar max-height="100" style="box-shadow:none" color="#fefefe" extended>

      <v-toolbar-title  class="title_section">
       <v-icon color="#4c389b" >backup</v-icon>
      	<h1 class="title_">Uplouw</h1></v-toolbar-title>
      <v-spacer></v-spacer>
        <div class="text-xs-center">
        <v-btn style="border:none;box-shadow:none;color:#4c389b;background:transparent;font-size:20px" to="/signup" >Sign Up</v-btn>
    <v-btn style="background:transparent;border-radius:25px;border:1px solid #4C389B;min-width:100px;color:#4c389b;font-size:20px">Sign In</v-btn>
  </div>
      
    </v-toolbar>
</template>

<style scoped>
	.title_{
		color:#4c389b;
	}
	.title_section{
		display:flex;
		flex-direction: row;
	}
</style>