<template>
    <v-app-bar
      app
      clipped-left
      color="#4c389b"
    >
      <v-app-bar-nav-icon color="#fff" @click="onClickButton"></v-app-bar-nav-icon>
      <v-spacer></v-spacer>
      <img  class="avatar_" src="https://api.adorable.io/avatars/58/abott@adorable.png"/>

    </v-app-bar>
</template>

<script>
  export default {
    data: () => ({
      drawer: false,
      
    }),
  methods: {
    onClickButton (event) {
      this.drawer = !this.drawer
      this.$emit('clicked', this.drawer)
    }
  }
}
</script>
<style scoped>
.avatar_{
  width:50px;
  height:50px;
  border:2px solid #fff;
  border-radius:50%;

}
</style>